body{
	background-color: #eee;
	font-size: 10px;

}

.shadow-box{
display: block;
background-color: #fff;
margin-bottom: 2em;
box-shadow: 0px 0px 8px rgb(228,228,228);
border-radius: 5px;
}

.clear{
	clear: both;
}

.wrapper{
	width:62%;
	margin:0 auto;
}

.footer{
	clear: both;
	height: 2em;
	border-top: 1pt solid #ddd;
	padding-top: 1em;
	font-size: 2em;
	color: #ccc;
}

nav{
	width:100%;
	height: 6em;
	max-height: 60px;
	margin-bottom: 2em;
	background-color: #fdfaf5;
	box-shadow: 0px 1px 0px rgb(247, 214, 206);
}

.nav-wrapper{
	width:66%;
	margin:0 auto;
}

.nav-logo{
	width:15.5em;
	max-width: 155px;
	height: 7.4em;
	max-height: 74px;
	margin-right: 1em;
	text-indent: -1000em;
	background: url(jpg/Logo.png) no-repeat left top;
	float: left;
}

.nav-items li{
	float:left;
	display: block;
	position: relative;
}

.nav-link{
	width: 1em;
	max-width: 100px;
	margin-right: 1.2em;
}

a.nav-link:link,
a.nav-link:visited{
	font-size: 2em;
	text-decoration: none;
	line-height: 3em;
	color: #f07361;
}
a.nav-link:hover{
	border-bottom: 0.3em #F6A085;
	border-style: solid;
	padding-bottom: 0.7em;
}


li.nav-search-item{
	margin-left: 3em;
}

.search-wrapper{
	height: 100%%;
	max-height: 60px;
	padding-top: 0.7em;
}

input.search-input{
	font-size: 1.8em;
	height: 2em;
	max-height: 40px;
	width: 15em;
	max-width: 260px;
	padding-left: 0.6em;
	border: 0;
}
button.search-icon{
	border:0;
	font-size: 1.8em;
	height: 2em;
	max-height: 40px;
	width: 4em;
	max-height: 64px;
	background: #f07361;
	margin-left: 0;
	color: #fff;
	cursor:pointer;
	}

button.search-icon:hover{
	border:0;
	font-size: 1.8em;
	height: 2em;
	max-height: 40px;
	width: 4em;
	max-height: 64px;
	background: #D65F4E;
	margin-left: 0;
	color: #fff;
	}

.profile-link{
	text-decoration: none;
	font-size: 1.8em;
	color: #f07361;
}

.profile-link img{
	vertical-align: middle;
}
.profile-link{
	display: inline;
	line-height: 3.3em;
	max-height: 33px;
}
/*Q: why there's not generating a separator?*/
.nav-mycenter-item{
	display: inline;
	padding-left: 3em;
	max-width: 120px;
	border-style: solid;
	border-left: 1px #fbe8e2;
}
a.profile-link:hover{
	color:#D65F4E;
}

.main-promotion{
	width: 97%;
	height: 22em;
	max-height: 350px;
	margin-left: 1em;
	/*position: relative;*/
}

.main-promotion .promotion-info{
	position: relative;
	float: left;
	height: 100%;
	width: 33%;

}

.promotion-info h1{
	display: inline-block;
	width: 100%;
	margin: 7em 0 2em 3.9em;
}

.promotion-info h2{
	display: inline-block;
/*	width: 10em;
	height: 3em;*/
	margin-left: 4em;
}

.promotion-title .title-icon{
	font-size: 2.4em;
	display: block;
	float: left;
	height: 2em;
	width: 2em;
	padding-top: 0.5em;
	text-align: center;
	background: url(jpg/ico-main-promotion-title.png) no-repeat left top;
	color: #fff;
}

.promotion-title .title-text{
	font-size: 1.8em;
	text-decoration: none;
	color:#888;
	line-height: 1.3em;
	margin-left: 0.9em;

}
a.title-text:hover{
	font-size: 1.8em;
	text-decoration: none;
	color:#666;
	line-height: 1.3em;
	margin-left: 0.9em;

}

.promotion-items-box{
	float: right;
	height: 100%;
	width: 68%;
	max-width: 570px;
	overflow: hidden;
}

.cardlist-wrapper{
	clear: both;
	width: 100%;
	margin-left: 1%;
}

.card-item{
	float: right;
	width: 31%;
	margin-right: 2%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

/*why? when i add margin-bottom for under element,span moves down also??*/
.card-imgbox span{
	position: absolute;
	left: 0;
	top:35%;
	width: 100%;
	color: #fff;
}

.card-imgbox p{
	font-size: 1.4em;
	color: #ccc;
	margin-bottom: 1em;
}
/*difficulty point: when hover, img change & price hidden;
.card-imgbox a:hover{
}
*/

.card-info h1{
	font-size: 2em;
	color: #999;
	margin-bottom: 0.2em;
}

.card-info h2{
	font-size: 1.4em;
	color: #999;
	margin-bottom: 1em;
}

.card-info p{
	font-size: 1.4em;
	color: #ccc;
}

.card-info{
	margin-bottom: 1.2em;
}

button.card-apply-btn{
	border:0;
	font-size: 2em;
	height: 2.3em;
	max-height: 46px;
	width: 100%;
	max-height: 64px;
	background: #f07361;
	margin-left: 0;
	color: #fff;
	cursor:pointer;
	}

button.card-apply-btn:hover{
	border:0;
	font-size: 2em;
	height: 2.3em;
	max-height: 46px;
	width: 100%;
	max-height: 64px;
	background: #D65F4E;
	margin-left: 0;
	color: #fff;
	cursor:pointer;
	}