

.main-promotion{
	width: 97%;
	height: 22em;
	max-height: 350px;
	margin-left: 1em;
	/*position: relative;*/
}

.main-promotion .promotion-info{
	position: relative;
	float: left;
	height: 100%;
	width: 33%;

}

.promotion-info h1{
	display: inline-block;
	width: 100%;
	margin: 7em 0 2em 3.9em;
}

.promotion-info h2{
	display: inline-block;
/*	width: 10em;
	height: 3em;*/
	margin-left: 4em;
}

.promotion-title .title-icon{
	font-size: 2.4em;
	display: block;
	float: left;
	height: 2em;
	width: 2em;
	padding-top: 0.5em;
	text-align: center;
	background: url(jpg/ico-main-promotion-title.png) no-repeat left top;
	color: #fff;
}

.promotion-title .title-text{
	font-size: 1.8em;
	text-decoration: none;
	color:#888;
	line-height: 1.3em;
	margin-left: 0.9em;

}
a.title-text:hover{
	font-size: 1.8em;
	text-decoration: none;
	color:#666;
	line-height: 1.3em;
	margin-left: 0.9em;

}

.promotion-items-box{
	float: right;
	height: 100%;
	width: 68%;
	max-width: 570px;
	overflow: hidden;
}

.cardlist-wrapper{
	clear: both;
	width: 100%;
	margin-left: 1%;
}

.card-item{
	float: right;
	width: 31%;
	margin-right: 2%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

/*why? when i add margin-bottom for under element,span moves down also??*/
.card-imgbox span{
	position: absolute;
	left: 0;
	top:35%;
	width: 100%;
	color: #fff;
}

.card-imgbox p{
	font-size: 1.4em;
	color: #ccc;
	margin-bottom: 1em;
}
/*difficulty point: when hover, img change & price hidden;
.card-imgbox a:hover{
}
*/

.card-info h1{
	font-size: 2em;
	color: #999;
	margin-bottom: 0.2em;
}

.card-info h2{
	font-size: 1.4em;
	color: #999;
	margin-bottom: 1em;
}

.card-info p{
	font-size: 1.4em;
	color: #ccc;
}

.card-info{
	margin-bottom: 1.2em;
}

/*button.card-apply-btn{
	border:0;
	font-size: 2em;
	height: 2.3em;
	max-height: 46px;
	width: 100%;
	max-height: 64px;
	background: #f07361;
	margin-left: 0;
	color: #fff;
	cursor:pointer;
	}

button.card-apply-btn:hover{
	border:0;
	font-size: 2em;
	height: 2.3em;
	max-height: 46px;
	width: 100%;
	max-height: 64px;
	background: #D65F4E;
	margin-left: 0;
	color: #fff;
	cursor:pointer;
	}*/

.card-apply-btn{
	text-decoration: none;
	border:0;
	font-size: 1.4em;
	height: 3em;
	line-height: 2.6em;
	max-height: 46px;
	width: 100%;
	background: #f07361;
	margin-left: 0;
	color: #fff;
	cursor:pointer;
}

.card-apply-btn a{
	display: block;
	height: 3em;
	width: 100%;
}

.card-apply-btn:hover{
	background: #D65F4E;
}