/*@group -----structure----*/
article{
	float: left;
	width: 64%;
	margin-left: 3%;
	margin-right: 2.7%;
	max-width: 580px;
}
aside{
	float: left;
	width: 26%;
	max-width: 230px;
	margin-left: 2.3%;
	margin-top: 6.8em;
}

.publish-title h1{
	margin: 1em 0 1.47em 0;
	/*---font-size:3em=30px---*/
}

.publish-title p{
	/*---font-size:2em=20px---*/
	margin: 0 0 2.3em 0;
}

.publish-info{
	padding-bottom: 1em;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 3em;
}
#publish-name{
	width: 23em;
}
#publish-address{
	width: 23em;
}
#publish-date{
	background: url(jpg/ico-publish-date.png) no-repeat 6.5em;
	width: 8em;
}
#publish-membernum{
	width: 5em;
}
#publish-price{
	width: 5em;
}
.publish-imgbox{
	width: 270px;
	height: 315px;
	background-image: url(jpg/btn-publish-imgbox.png);

}
#publish-image{
	/*opacity: 0;*/
	height: 315px;
	width: 270px;
	opacity: 0;
}

.publish-messagebox{
	padding-top: 2em;
	border-top: 1px solid #eeeeee;
	margin-top: 3em;
}
#publish-message{
	display: block;
	width: 27em;
	height: 11em;
}
.publish-messagebox label{
	margin-bottom: 1em;
}
aside h1{
	margin-bottom: 1.8em;
}
aside p{
	margin-bottom: 0.5em;
	line-height: 1.4em;
}

/*@group -----text-----*/
.publish-title h1{
	font-size: 3em;
	color: #f07361;
	letter-spacing:0.06em;
	font-weight: normal;
}

.publish-title h1 span{
	font-size: 1.2em;
	color: #98d443;
}

.publish-title p{
	font-size: 2em;
	color: #cccccc;
	letter-spacing: 0.08em;
}

aside h1{
	font-size: 1.8em;
	color: #666666;
	font-weight: normal;
}

aside p{
	line-height: 1.5em;
	font-size: 1.4em;
	color: #666666;
	font-weight: normal;
}



/*@grout -----button-----*/
.publish-imgbox:active{
	background-image: url(jpg/btn-publish-imgbox-active.png);
}
.myButton {
	background-color:#f24537;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	padding:15px 76px;
	text-decoration:none;
	margin-bottom: 2em;
}
.myButton:hover {
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}
